<% layout("/layouts/boilerplate") -%>
<body>
     

     <div class="row show-ejs">
     <div class="card show-ejs-card" >
      <h3>Listing Details</h3>
      <img class="card-img-top" src="<%= listing.image %>" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
         <div class="show-page-title mb-1"><b><%=listing.title%></b></div>
            <%=listing.description%><br> 
            &#8377;<%=listing.price.toLocaleString("en-IN")%>/night<br>  
            <%=listing.location%><br>
            <%=listing.country%>
        </p>
      
         <div class="show-ejs-btns">
            
        <form method="get" action="/listing/<%=listing._id%>/edit">
         <button class="btn btn-black show-ejs-btn-1">Edit</button>
      </form> 

      <form method="post" action="/listing/<%=listing._id%>?_method=DELETE" >
         <button class="btn btn-black show-ejs-btn-2">Delete</button>
      </form>

         </div>

      </div>
    </div>
    </div>

</body>
